@font-face {
    font-family: "nordic-bold";
    src: url("fonts/norse-bold-webfont.woff") format("woff"),
        url("fonts/norse-bold-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;

}

body {
    margin: 0;
}

img {
    height: 6rem;
}

.italicize {
    font-style: italic;
}

.whole-site-container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 30%;
    background-color: #eee;
    background-image: url("./imgs/background-side.jpg");
    background-size: cover;
}

.right-side {
    width: 70%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.viking {
    font-family: "nordic-bold";
    font-size: 4.5rem;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.451);
    margin-top: 8rem;
}

.wrap-p {
    width: 50ch;
    margin-top: 5rem;
}

.top-p {
    font-size: 1.2rem;
    font-weight: 600;
}

.top>p+p {
    margin-bottom: 2.5rem;
}

.main-form {
    display: flex;
    gap: 3rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    z-index: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.396);
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

/* .shadow-div {
    box-shadow: 2px 600px 100px black;
} */

.right-form {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.form-div {
    background-color: white;
}

.whole-form {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.log-in {
    margin-top: 1.5rem;
    font-size: 1rem;
}

.submit-button {
    margin-top: 1.5rem;
    margin-left: 2rem;
    background-color: #7ca060;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: .4rem 1.8rem;
    cursor: pointer;
}

.submit-form {
    background-color: #eee;
}

.form-div>p {
    padding-left: 2rem;
    font-size: 1.2rem;
}

p {
    padding-left: 2rem;
}

.green {
    color: #7ca060;
    cursor: pointer;
}

label {
    font-size: .7rem;
    font-family:'Times New Roman', Times, serif
}

input:valid {
    border-color: #7ca060;
}

input:invalid {
    border-color: rgb(255, 160, 160);
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: 2px solid black;
}