@font-face {
    font-family: "nordic-bold";
    src: url("/fonts/norse-bold-webfont.woff") format("woff"),
        url("/fonts/norse-bold-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;

}

body {
    margin: 0;
}

img {
    height: 6rem;
}

.italicize {
    font-style: italic;
}

.whole-site-container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 40%;
    background-color: #eee;
    /* background-image: url("./imgs/background-side.jpg"); */
}

.right-side {
    width: 60%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.viking {
    font-family: "nordic-bold";
    font-size: 4rem;
}

.img-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.196);
}

.main-form {
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

.left-form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.right-form {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.form-div {
    background-color: white;
    /* box-shadow: 10px 5px 5px black; */
}

.whole-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.log-in {
    margin-top: 1.7rem;
}

.submit-button {
    margin-top: 1rem;
}

.submit-form {
    background-color: #eee;
}
